.card{
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 40%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Georgia;
  margin: 0;
  color: rgb(56, 35, 175);
}

.card .card-text{
  font-family: Georgia;
  color: black
}

.button{
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}